<form class="{{cssClass}}" autocomplete="off">
    <figure class="flexcol">
        <video src="{{image}}" {{#if showTitle}}aria-label="{{ title }}" {{/if}} autoplay loop controls disablepictureinpicture></video>
    </figure>
</form>
