@keyframes shake {
    0% {
        transform: translate(1px, 0);
    }

    10% {
        transform: translate(-1px, 0);
    }

    20% {
        transform: translate(-3px, 0);
    }

    30% {
        transform: translate(3px, 0);
    }

    40% {
        transform: translate(1px, 0);
    }

    50% {
        transform: translate(-1px, 0);
    }

    60% {
        transform: translate(-3px, 0);
    }

    70% {
        transform: translate(3px, 0);
    }

    80% {
        transform: translate(-1px, 0);
    }

    90% {
        transform: translate(1px, 0);
    }

    100% {
        transform: translate(1px, 0);
    }
}

@keyframes flash {
    0% {
        filter: invert(0.25)
    }

    33% {
        filter: initial;
    }

    66% {
        filter: invert(0.25);
    }

    100% {
        filter: initial;
    }
}

@keyframes strobe {
    0% {
        filter: initial;
    }

    50% {
        filter: invert();
    }

    100% {
        filter: initial;
    }
}

#chat-log {
    flex: auto;
}

.console-config-flex {
    align-items: center;
    gap: 10px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.console-config-limited {
    max-height: 20vh;
    overflow: hidden scroll;
}

.console-manager-entry {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 5px;
}

#console-manager-launcher {
    flex: auto;
    margin: 5px;
}

.console-message {
    border-radius: 3px;
    line-height: 110%;
    padding: 5px 5px;
    max-width: 100%;
    overflow-wrap: break-word;
}

.console-message-interact {
    border: none;
    padding: 0;
    width: unset;
}

.console-message-interact:hover,
.console-message-interact:focus {
    box-shadow: none;
    filter: brightness(1.5);
}

.console-seperate {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.console-app>.window-content {
    padding: 0px !important
}

.console-app>header {
    border: none !important;
}

.control-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
}

.field-header {
    font-weight: bold;
    text-transform: uppercase;
}

.notifHighlight {
    color: var(--color-border-highlight-alt);
}

.notifPip {
    background-color: var(--color-border-highlight-alt);
    border-radius: 50% 50% 0% 50%;
    padding: 0px 5px;
}

.flash {
    animation-duration: 0.25s;
    animation-name: flash;
    animation-iteration-count: 1;
}

.invert {
    filter: invert();
}

.strobe {
    animation-duration: 0.25s;
    animation-name: strobe;
    animation-iteration-count: 2;
}

.wiggle {
    animation-duration: 0.5s;
    animation-name: shake;
    animation-iteration-count: 1;
}
