#chat-log {
    flex: auto;
}

.console-manage-button {
    background: none;
    border: 1px solid #bbb;
    border-radius: 0;
    color: #bbb;
    padding: 0;
}

.console-manager-entry {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    padding: 5px;
}

#console-manager-launcher {
    flex: auto;
    margin:5px;
}

.console-message {
    border-radius: 3px;
    line-height: 110%;
    padding: 2px 5px;
    max-width: 100%;
    overflow-wrap: break-word;
    width: max-content;
}

.console-message-interact{
    border: 1px solid rgba(0,0,0,0);
    padding: 0;
    width: unset;
}

.console-message-interact:hover {
    border-style: solid !important;
    box-shadow: none;
    outline:none;
}

.console-seperate {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.console-app > .window-content {
    padding: 0px !important
}

.console-app > header {
    border: none !important;
}

.control-buttons {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
}
